@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--col-text);
}
.title-hidden {
  position: absolute;
  height: 0;
  overflow: hidden;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1308px;
}
.header {
  margin-bottom: 54px;
  border-bottom: 4px solid #3596F5;
  background: #635854;
  color: #fff;
}
.container--header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header__logo {
  padding-top: 12px;
  padding-bottom: 12px;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__item {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  transition: background .3s ease-in-out;
}
.header__item:not(:last-child) {
  margin-right: 74px;
}
.header__item:hover {
  background: #3596F5;
}
.header__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header__phone {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  text-align: end;
}
.header__text {
  display: inline-block;
  margin-bottom: 4px;
}
.header__call {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  transition: color .3s ease-in-out;
}
.header__call:hover {
  color: #3596F5;
}
.main__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}
.main {
  margin-bottom: 95px;
}
.container--main {
  display: flex;
}
.main__home path {
  opacity: 0;
  cursor: pointer;
}
.main__home path:hover {
  opacity: 1;
}
path.current-floor {
  opacity: 1;
}
.main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 67px 0;
  flex-grow: 1;
  text-align: center;
}
.main__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.main__btn path {
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}
.main__btn:hover path {
  fill: #fff;
  stroke: #3596F5;
}
.main__counter {
  font-family: "Bebas Neue", sans-serif;
  font-size: 124px;
  color: #635854;
}
.main__see {
  padding: 14px 34px;
  background: #3596F5;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}
.main__see:hover {
  background: #fff;
  color: #3596F5;
  border-color: #3596F5;
}
.footer {
  padding: 50px 0 56px;
  border-top: 4px solid #3596F5;
  background: #D7D7D7;
  color: #635854;
}
.container--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrap:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  margin-right: 37px;
}
.footer__phone {
  margin-right: 59px;
}
.footer__text {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}
.footer__call {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  transition: color .3s ease-in-out;
}
.footer__call:hover {
  color: #3596F5;
}
.footer__link:not(:last-child) {
  margin-right: 15px;
}
.footer__link path {
  transition: fill .3s ease-in-out
}
.footer__link:hover path {
  fill: #3596F5;
}
.footer__policy,
.footer__offer,
.footer__contacts {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}
.footer__policy,
.footer__offer {
  margin-right: 20px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  opacity: 0;
  transform: scale(0);
  transition: opacity .3s ease-in-out;
}
.is-open {
  opacity: 1;
  transform: scale(1);
}
.modal__dialog {
  position: relative;
  display: flex;
  flex-grow: 1;
  max-width: 1000px;
  min-height: 565px;
  background: #fff;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition-delay: .3s;
}
.is-open .modal__dialog {
  opacity: 1;
  transform: translateY(0);
}
.modal__img {
  padding: 50px 0 58px;
  width: 60%;
  background: #EBEBEB;
  text-align: center;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
.modal__info {
  padding: 50px 46px;
  width: 40%;
}
.modal__floor {
  margin-top: 55px;
  margin-bottom: 56px;
}
.modal__flat:not(:last-child) {
  margin-bottom: 10px;
}
.modal__link {
  transition: color .3s ease-in-out, text-decoration .3s ease-in-out;
}
.modal__link:hover {
  text-decoration: underline;
  color: #3596F5;
}
.modal__alert {
  width: 80%;
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}
.modal__close {
  position: absolute;
  right: 27px;
  top: 38px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.modal__floors path {
  opacity: 0;
  cursor: pointer;
}
.modal__floors path:hover {
  opacity: 1;
}
.current-flat {
  text-decoration: underline;
  color: #3596F5;
}


